{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}phone book{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Register new contact</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Surname:</label>
                {{ form.name|add_class:'form-control' }}
            </div>
            <div class="form-group">
                <label>Family-name:</label>
                {{ form.last_name|add_class:'form-control' }}
            </div>
            <div class="form-group">
                <label>Phone-number:</label>
                {{ form.phone_number|add_class:'form-control'|attr:'maxlength:11' }}
            </div>
        </form>
        <div class="justify-content-center d-flex">
            <button id="send_form" class="btn btn-primary text-center">sending via ajax</button>
        </div>
        <div class="alert invisible mt-3" id="message"></div>
    </div>

    <script>
        $(document).ready(function () {
            $('#send_form').on('click', function () {
                let surname = $('#id_name').val();
                let message = $('#message');
                let family_name = $('#id_last_name').val();
                let phone_number = $('#id_phone_number').val();
                $.ajax({
                    url: "{% url 'phones:register' %}",
                    method: 'POST',
                    data: {
                        name: surname,
                        last_name: family_name,
                        phone_number: phone_number
                    },
                    success: function (response) {
                        if (message.hasClass('alert-danger')) {
                            message.removeClass('alert-danger');
                        }
                        message.removeClass('invisible').addClass('alert-success')
                            .html('You\'re registered successfully');
                    },
                    error: function (response) {
                        if (message.hasClass('alert-success')) {
                            message.removeClass('alert-success');
                        }
                        message.removeClass('invisible').addClass('alert-danger')
                            .html('You\'re inputs is invalid.Try again');
                    }
                });
            });
        });
    </script>
{% endblock %}
