{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center mr-3">Search in Phone book</h1>
        <form method="post" class="was-validated">
            <div class="form-group">
                <label for="num">Enter phone number:</label>
                <input type="text" class="form-control" id="num" maxlength="11" required
                       pattern="[0-9]+">
                <div class="valid-feedback">Your input is correct 😊</div>
                <div class="invalid-feedback">Your input is incorrect 😒</div>
            </div>

            <div class="form-inline inline-group form-group">
                <label class="form-check-label col-3">
                    <input type="radio" name="status" value="contain" class="form-check-input">
                    Contains
                </label>
                <label class="form-check-label col-3">
                    <input type="radio" name="status" value="exact" class="form-check-input">
                    Exact
                </label>
                <label class="form-check-label col-3">
                    <input type="radio" name="status" value="start" class="form-check-input">
                    Start-with
                </label>
                <label class="form-check-label col-3">
                    <input type="radio" name="status" value="end" class="form-check-input">
                    End-with
                </label>
            </div>
        </form>
        <button class="btn btn-success container-fluid mt-3 mb-3" id="btn">Go 🔎</button>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
            </tr>
            </thead>
            <tbody id="output"></tbody>
        </table>
        <p class="text-center invisible" id="total_result"></p>
    </div>
    <script>
        $(document).ready(function () {
            $('#btn').click(function () {
                const inputSelector = $('#num');
                const query_text = inputSelector.val();
                let status = $('input[name="status"]:checked').val();
                let my_output_div = $('#output');
                const ajax_config = {
                    url: '{% url "phones:find" %}',
                    data: {
                        phone: query_text,
                        status: status
                    },
                    method: 'GET',
                    success: function (response) {
                        if (!$(my_output_div).html().length) { //you can only use once time
                            $(response.results).each(function (index, obj) {
                                let my_table = '<tr><td>' + obj.name + '</td><td>'
                                    + obj.last_name + '</td><td>' + obj.phone_number + '</td></tr>';
                                my_output_div.append(my_table);
                            });
                            $('#total_result').removeClass('invisible').html('Total results is ' + response.count);
                        } else {
                            $('#output').empty()
                        }

                    },
                    error: function () {
                        let error = '<tr><td colspan="3"> No match found </td></tr>';
                        if (!$(my_output_div).html().length) {
                            my_output_div.append(error);
                        } else {
                            $('#output').empty()
                        }
                    }
                };
                $.ajax(ajax_config);
            });
        });
    </script>
{% endblock %}
